@require '../lib/vars.styl'

body
  background white
  font 300 normal 16px/1.5 Roboto, sans-serif
  padding 20px 40px

img
  padding-top 25px
  max-width 500px

h2
  color: #00c7b7
  font-size: 35px
  margin-bottom auto

.hl
  font-weight bold
  color react-blue

.App
  background white
  min-width 320px
  padding 20px 100px

  p
    color white

@media (max-width: 500px)
  img
    max-width 300px

  .App
    min-width 320px
    padding 20px 10px
