@require '../lib/vars.styl'

*
  box-sizing border-box

body
  background white
  font 300 normal 16px/1.5 Roboto, sans-serif
  padding 20px 40px


h1
  margin 20px 0

h2
  color: #00c7b7
  font-size: 35px

.hl
  font-weight bold
  color react-blue

.App
  background white
  min-width 320px
  padding 20px 100px

  p
    color white

